doctype html
html(lang="en")
  head
    title Welcome To BP

    if prod
      link(rel="stylesheet", href="/css/style.css")
    else
      <!-- include:css(css/**/*.css) -->
      <!-- include:js(js-libs/*.js) -->
      <!-- include:js(js-cache/**/*.js) -->
      <!-- include:js(js/**/*.js) -->

  body(data-ng-app='#{appName}', data-ng-strict-di=prod)


    include jade/header/header.jade


    if prod
      script(src='/js-cache/templates.js')
      script(src='/js/app.min.js')
